.categories-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.category-container {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 7.5px;
  overflow: hidden;

  &:hover {
    cursor: pointer;
  }

  &:first-child {
    margin-right: 7.5px;
  }

  &:last-child {
    margin-left: 7.5px;
  }

  .category-body-container {
    height: 100%;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      margin: 0 6px 0;
      font-size: 22px;
      color: #333333;
      text-transform: capitalize;
    }
  }
}
