.contact-container{
    
    h1{
        text-align: center;
        margin: 40px 0;
    }

    .contact-list-holder{
        margin-top: 40px;
        max-width: 70%;
        margin: 0 auto;

        .contact-list{
            border: 1px solid #cccccc;
        }

        .contact-list-item{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 24px;
        
            &:nth-child(2n){
                background-color: #cccccc;
            }
        }
    }
}